	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ "/apple-touch-icon-precomposed.png" | prepend: site.baseurl }}">

<!--		<link href='http://fonts.googleapis.com/css?family=Lato:300,400italic,400,900' rel='stylesheet' type='text/css'>-->
<!--		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>-->
<!--		<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>-->

		<link rel="canonical" href="{{ page.url | replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

		<script src="{{ "/js/vendor/prefixfree.min.js" | prepend: site.baseurl }}"></script>
		<script async src="{{ "/js/vendor/modernizr-2.6.2.min.js" | prepend: site.baseurl }}"></script>

	</head>
