/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
    color: $text-color;
}

body {
    font-family: $base-font-family;
    font-size:   $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
	background: 
		radial-gradient(circle at 100% 50%, $brand-color 16%, rgba(210,202,171,0) 10%),
		radial-gradient(circle at   0% 50%, $brand-color 16%, rgba(54,78,39,0) 10%),
		radial-gradient(circle at 100% 50%, $brand-color 16%, rgba(210,202,171,0) 10%) 25px 25px,
		radial-gradient(circle at   0% 50%, $brand-color 16%, rgba(54,78,39,0) 10%) 25px 25px;
	background-size: 50px 50px;
    background-color: $background-color;
}

::-moz-selection {
    background: $second-color;
    text-shadow: none;
}

::selection {
    background: $second-color;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


h3, h4, h5, h6 {
    font-weight: 300;
}

h1, h2 {
	font-family: 'Bree Serif', 'Georgia', serif;
}

h1 {
	letter-spacing:-.03em;
	text-align: center;
	font-size: 3em;
}

h1 span {
	display: block;
	font-size: .5em;
	text-align: center;
	letter-spacing: .18em;
	text-transform: uppercase; 
	margin-top: .5em;
	font-family: 'Oswald', "Arial Narrow", Arial, sans-serif; 
	font-weight: 300;
	color: darken($brand-color, 20%);
}

.subtitle {
	position: relative;
	max-width: 15em;
	margin: auto;
	font-family: $base-font-family;
	font-weight: 400;
	color: $text-color;
}

h2 {
	font-weight: 900;
}

h3 {
	text-transform: uppercase;
}

/* Google fucking imposed styles */
.other-things b {
		font-weight: 300;
}

img {
    max-width: 100%;
	height: auto;
    vertical-align: middle;
}

ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

path {
	fill: $text-color;
}

.icon {
	svg {
        width:  2em;
        height: 2em;
        vertical-align: middle;
    }
}

a {
    color: $text-color;
    text-decoration: none;
	font-weight: 900;

    &:hover {
		color: lighten($brand-color, 20%);

		& path {
			fill: lighten($brand-color, 20%);
		}
    }

    &:visited {
        color: $dark;

		& path {
			fill: $dark;
		}
	}
}

section {
	font-weight: 400;
}

blockquote {
    color: gray;
    border-left: 4px solid lighten(gray,50%);
    padding-left: $spacing-unit / 2;
    font-size: 1.2em;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1em;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/************************************
 * BORDER-BOXED
 ************************************/
.top a, 
.tab,
.grid figcaption,
.grid span {
	box-sizing: border-box;
}
